
@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin/sweetAlert/sweetalert2.min.css" rel="stylesheet" />
}

<h1>Category</h1>
<button id="btn" class="btn btn-success">Create Category </button>

<table class="table" id="categoryTable">

    <thead>
        <tr>
            <th>CategoyName</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>

</table>

<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="categorycontent">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/alphaDatatable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/sweetAlert/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            dataColumns = [{ data: "name" }, {
                data: "id", render: function (data) {
                    return `<button   class="btn btn-primary edit-button" city=${data}> Edit </button> |
                                <button class="btn btn-danger delete-button"  city=${data}> Delete </button>`
                }
            }];

            tbl = tablePlugin("#categoryTable", "/admin/Categories/GetCategories", dataColumns);

            $("#btn").click(function () {

                $.ajax({
                    url: "/admin/Categories/Create",
                    success: function (result) {
                        $("#categorycontent").html(result);
                        $("#categoryModel").modal("show");


                    }
                })

            });
            $("#categorycontent").on("click", ".addbtn", function () {
                var proccessRow = $(this).parents().find(".attribute-row").clone();

                $(proccessRow.find(".addbtn")).remove();
                $(proccessRow.find(".removerbtn")).remove();
                proccessRow.removeClass("attribute-row");
                $("#container-attribute").append(proccessRow);
            });
            $("#categorycontent").on("click", ".removerbtn", function () {
                if ($("#container-attribute .row").length > 1) {
                    $($("#container-attribute .row").last()).remove();
                }

            });
            $("#categorycontent").on("click", "#submitform", function () {

                var obj = { CategoryName: $("#CategoryName").val(), AttributesID: [] };
                // validation on Object
                $("#container-attribute .attribute").each(function () {

                    obj.AttributesID.push($(this).val());
                });

                $.ajax({
                    url: "/admin/Categories/Create",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function (result) {

                    },
                    error: function (jqXHR) {
                        console.log(jqXHR);
                    },
                    complete: Complated

                });

            });

            Complated = function (xhr) {

                if (xhr.status == 200) {
                    tbl.ajax.reload();
                    Swal.fire({
                        icon: 'success',
                        title: xhr.responseText,
                        showConfirmButton: false,
                        timer: 1500
                    });

                }
                else if (xhr.status == 400) {
                    Swal.fire({
                        icon: 'error',
                        title: xhr.responseText,
                        showConfirmButton: false,
                        timer: 1500
                    });

                }
            }

        });

    </script>
}