<!--<section class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <mat-card class="example-card">
                <h2 class="text-center header-font">Suggestions</h2>
                <form #f="ngForm" (ngSubmit)="Save(f)">
                    <mat-form-field class="control-item-100">
                        <mat-label for="suggestedModel">Username</mat-label>
                        <input matInput type="text" id="suggestedModel" ngModel name="suggestedModel"
                               placeholder="Write your Product Suggestion Name" required #suggestedModel="ngModel" />
                        <mat-error *ngIf="suggestedModel.touched && suggestedModel.invalid">
                            suggestedModel is required
                        </mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="control-item-100">
                        <mat-label for="password">Password</mat-label>
                        <input type="password" matInput ngModel id="password" name="password"
                               placeholder="Enter your Password" required #password="ngModel" />
                    </mat-form-field>
                    <br>
                    <br />
                    <div class="form-group">
                        <button mat-button class="button-full-width" mat-flat-button color="primary" [disabled]="f.invalid">
                            <i class="fa fa-user" aria-hidden="true"></i> Submit
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</section>-->
