@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin/sweetAlert/sweetalert2.min.css" rel="stylesheet" />
}
<h1>Barnd</h1>
<button id="btn" class="btn btn-success" onclick="editModal('@Url.Action("Create", "Brands")')"> Create New Brand </button>

<table id="brandtbl" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" onclick="editModal('@Url.Action("Edit", "Brands" , new {id=item.Id })')">Edit</button>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="brandModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="brandcontent">

        </div>
    </div>
</div>



@section scripts{
    <script src="~/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/alphaDatatable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/sweetAlert/sweetalert2.min.js"></script>
    @*<script src="~/admin/crud/city.js"></script>*@
    
    <script>
        function editModal(url) {
            $('#brandcontent').load(url);
            $('#brandModel').modal('show');
        }
        Complated = function (xhr) {

            if (xhr.status == 200) {
               // tbl.ajax.reload();
                Swal.fire({
                    icon: 'success',
                    title: xhr.responseText,
                    showConfirmButton: false,
                    timer: 1500
                });

            }
            else if (xhr.status == 400) {
                Swal.fire({
                    icon: 'error',
                    title: xhr.responseText,
                    showConfirmButton: false,
                    timer: 1500
                });

            }


        }

    </script>

}

