<mat-card>
    <mat-card-header>
      
        <mat-card-title>User Information </mat-card-title>
        <mat-card-subtitle>Mohamed Beshri Amer</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <dl >
            <dt>Name</dt>
            <dd>Mohamed Amer</dd>

            <dt>City</dt>
            <dd>Alexandria</dd>

            <dt>Area</dt>
            <dd>Side Bihri</dd>

            <dt>Address</dt>
            <dd>Alexandria</dd>

            <dt>Rating</dt>
            <dd>3</dd>
          </dl>
      </mat-card-content>


</mat-card>
