@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> GraduationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <app-root></app-root>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--Angular libraries-->
    <script src="~/clientapp/runtime.js"></script>
    <script src="~/clientapp/polyfills.js"></script>
    <script src="~/clientapp/styles.js"></script>
    <script src="~/clientapp/vendor.js"></script>
    <script src="~/clientapp/main.js"></script>
</body>
</html>
