<div class="container-fluid delete-padding">
   
   
        <div class="messaging delete-padding">
              <div class="inbox_msg">
                <div class="inbox_people">
                  <div class="headind_srch">
                    <div class="recent_heading">
                      <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                      <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                        <span class="input-group-addon">
                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> </div>
                    </div>
                  </div>
                  <div class="inbox_chat">
                   <app-chat-user-card *ngFor="let item of messages" [userMessage]="item" (OnSelectUser)="UserSelected($event)"></app-chat-user-card>
                  
                  </div>
                </div>
                <div class="mesgs">
                  <app-message-history [chatmessage] ="this.chatmessage.chatMessage" [userInfo]="UserMessage"></app-message-history>
                  
                </div>
              </div>
              
              
           
              
            
</div>
