
@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<h1>City</h1>
<button id="btnCreate" class="btn btn-success">Create New City </button>

<table id="citytbl" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="controllModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalData">



        </div>
    </div>
</div>



@section scripts{
    <script src="~/admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/alphaDatatable.js"></script>
    <script>
        $(document).ready(function () {
            let dataColumns = [{ data: "cityName" }, {
                data: "id", render: function () {
                    return `<a href="" class="btn btn-primary"> Edit </a> |
                                      <a href="" class="btn btn-danger"> Delete </a>`
                }
            }];

            tablePlugin("#citytbl", "/admin/Cities/GetCities", dataColumns);

            $("#btnCreate").click(function () {

                $.ajax({
                    url: "/admin/Cities/Create",
                    success: function (data) {
                        $("#modalData").html(data);
                        $("#controllModel").modal("show");


                    }

                });

            });

        });


    </script>

}

