<!-- @format -->

<header id="header">
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-4 clearfix">
					<div class="logo pull-left">
						<a href="index.html"
							><img src="/img/microsoft.png" width="100"
						/></a>
					</div>
				</div>
				<div class="col-md-8 clearfix">
					<div class="shop-menu clearfix pull-right">
						<ul class="nav navbar-nav">
							<li>
								<a href=""><i class="fa fa-user"></i> Account</a>
							</li>
							<li>
								<a href=""><i class="fa fa-star"></i> Wishlist</a>
							</li>
							<li class="dropdown">
								<a
									href="#"
									class="dropdown-toggle"
									data-toggle="dropdown"
									role="button"
									aria-haspopup="true"
									aria-expanded="false"
								>
									<i class="fa fa-comments-o" aria-hidden="true"></i> Chat
									<span
										class="badge badge-pill badge-primary"
										style="
											float: right;
											margin-left: 6px;
											padding-bottom: -20px;
										"
										>{{ chatService.newMessage.length }}</span
									>
								</a>
								<ul class="dropdown-menu chat-navbar">
									<li
										class="newMessage"
										*ngFor="let item of chatService.newMessage"
										(click)="ShowDailog(item.userId, item.name)"
									>
										<span class="flex">
											<ngx-avatar [name]="item.name" [size]="30"></ngx-avatar>
											<span>
												<span>{{ item.name }} </span> <br />
												<span>message</span>
											</span>
										</span>
									</li>
								</ul>
							</li>
							<ng-template
								*ngIf="this.userService.IsLogin(); then login; else notlogin"
							>
							</ng-template>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->
</header>

<ng-template #login>
	<li>
		<a routerLink="/profile">Hello {{ this.userService.CurrentUserName() }}</a>
	</li>
	<li><a (click)="LogOut()" class="logout"> Logout</a></li>
</ng-template>

<ng-template #notlogin>
	<li>
		<a routerLink="/Registration"><i class="fa fa-lock"></i> Registration</a>
	</li>
	<li>
		<a routerLink="/Login"><i class="fa fa-lock"></i> Login</a>
	</li>
</ng-template>
