<div class="container mt-product">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <div class="product-details">
                <!--product-details-->
                <div class="col-sm-6">
                    <div class="view-product">
                        <img [src]="'/images/'+product.userProductImages[0].images" alt="" />
                    </div>
                    <div id="similar-product" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <ng-container *ngFor="let p of product.userProductImages">
                                    <a href=""><img [src]="'/images/'+p.images" alt="product image" class="productImg"></a>
                                </ng-container>
                            </div>
                                <!--<div class="item box">
                                    <a href=""><img [src]="p.images" alt="product image" class="productImg"></a>
                                </div>-->
                        </div>

                        <!-- Controls -->
                        <a class="left item-control" href="#similar-product" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right item-control" href="#similar-product" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="product-information">
                        <!--/product-information-->
                        <h2>{{product.name}}</h2>
                        <p>{{product.description}}</p>
                        <span>
                            <span>EGP {{product.price}}</span>
                        </span>
                        <p><b>Condition:</b> {{checkCondition(product.condition)}}</p>
                        <ng-container *ngFor="let item of product.product.productAttributes">
                            <p><b>{{item.attributeName}}:</b> {{item.value}}</p>
                        </ng-container>
                        <br />
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-heart"></i>
                            Add to Wishlist
                        </button>
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-user"></i>
                            Connect Seller
                        </button>
                    </div><!--/product-information-->
                </div>
            </div><!--/product-details-->
            </div>


        </div>
    </div>