@page
@model LoginModel

@{
    //ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login-Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/admin/css/login.css" rel="stylesheet" />
    <link href="~/client/css/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <div class="container-fluid">

            <div class="row justify-content-center full-height">
                <div class=" d-flex col-md-4 col-sm-12  p-4 align-items-center justify-content-center ">
                    <section class="padding-15 login-panel w-100">
                        <form id="account" method="post">
                          
                            <div class="d-flex justify-content-center">
                                <img class="d-block" src="~/client/img/logo.png" width="200" />
                            </div>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">Log in</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <script src="~/admin/vendor/jquery/jquery.js"></script>
        <partial name="_ValidationScriptsPartial" />
    </body>
</html>







