
<section class="container">
    <h2>Login</h2>
    <form #f="ngForm" (ngSubmit)="Save(f)">
        <mat-form-field class="control-item-100">
            <mat-label for="userName">username</mat-label>
            <input matInput type="text" id="userName" ngModel name="userName"
                   placeholder="Enter your Username" required #userName="ngModel" />
            <mat-error *ngIf="userName.touched && userName.invalid">
                User Name is required
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="control-item-100">
            <mat-label for="password">Password</mat-label>
            <input type="password" matInput ngModel id="password" name="password"
                   placeholder="Enter your Password" required #password="ngModel" />
            <mat-error *ngIf="password.touched && password.invalid">
                Password is required
            </mat-error>
        </mat-form-field>
            <br>
            <mat-error *ngIf="notLogin">
                Incorrect username or password Try again.
            </mat-error>
        <br />
            <div class="form-group">
                <button class="btn btn-success" [disabled]="f.invalid">Login</button>
            </div>

</form>
</section>
