<!-- @format -->

<div class="container mt-3">
	<h2>Registration</h2>

	<form #form="ngForm" (ngSubmit)="OnRegistration(form)">
		<mat-form-field class="control-item-50">
			<mat-label>FirstName</mat-label>
			<input
				matInput
				ngModel
				#firstName="ngModel"
				name="firstName"
				class="control-item-50"
				required
				minlength="3"
				maxlength="10"
			/>
			<mat-error *ngIf="firstName.invalid && firstName.touched">
				<mat-error *ngIf="firstName.errors.required">
					FirstName is Required
				</mat-error>
				<mat-error *ngIf="firstName.errors.minlength">
					FirstName should be minimum 3 characters
				</mat-error>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="control-item-50">
			<mat-label>LastName</mat-label>
			<input
				matInput
				ngModel
				name="lastName"
				class="control-item-50"
				#lastname="ngModel"
				required
			/>
			<mat-error *ngIf="lastname.invalid && lastname.touched">
				The LastName is Required
			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width" class="control-item-100">
			<mat-label>Email</mat-label>
			<input
				matInput
				type="email"
				ngModel
				name="email"
				class="control-item-100"
				required
				#email="ngModel"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
			/>
			<mat-error *ngIf="email.touched && email.invalid">
				<mat-error *ngIf="email.errors.required">
					Please Write your Email
				</mat-error>
				<mat-error *ngIf="email.errors.pattern">
					invalid Email
				</mat-error>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width" class="control-item-100">
			<mat-label>UserName</mat-label>
			<input
				matInput
				required
				ngModel
				name="userName"
				class="control-item-100"
				#userName="ngModel"
			/>
			<mat-error *ngIf="userName.invalid && userName.touched">
				The UserName is Required
			</mat-error>
		</mat-form-field>

		<mat-form-field class="control-item-50">
			<mat-label>Password</mat-label>
			<input
				matInput
				type="password"
				ngModel
				#password="ngModel"
				name="password"
				(change)="this.OComparePasswords(password, confirmpassword)"
				class="control-item-50"
				required
			/>

			<mat-error *ngIf="password.invalid && password.touched">
				The password is Required
			</mat-error>
		</mat-form-field>

		<mat-form-field class="control-item-50">
			<mat-label>Password Confirm</mat-label>
			<input
				matInput
				type="password"
				class="control-item-50"
				ngModel
				name="confirmpassword"
				#confirmpassword="ngModel"
				required
				(change)="this.OComparePasswords(password, confirmpassword)"
			/>
		</mat-form-field>
		<mat-error *ngIf="passwordConfirmation">
			The password doesn't much parent or Empty
		</mat-error>

		<mat-form-field class="control-item-50">
			<mat-label>Date of Birth</mat-label>
			<input matInput #dateOfBirth="ngModel" ngModel   name="dateOfBirth" [matDatepicker]="picker" required  class="control-item-50" />
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-error *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
				<mat-error *ngIf="dateOfBirth.errors.required"> The Date Is Required</mat-error>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width" class="control-item-50">
			<mat-label>Phone</mat-label>
			<input matInput type="text" ngModel #phone="ngModel" name="phone" class="control-item-50" required pattern="^[0-9]{9,15}$" />
			<mat-error *ngIf="phone.invalid">
				<mat-error *ngIf="phone.errors.pattern"> it's not phone </mat-error>
				<mat-error *ngIf="phone.errors.required"> the phone is required </mat-error>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width" class="control-item-50">
			<mat-label>City</mat-label>
			<select matNativeControl #city (change)="OnCityChange(city)">
				<option value="0">...</option>
				<option *ngFor="let item of cities" [value]="item.id">{{
					item.cityName
				}}</option>
			</select>
		</mat-form-field>

		<mat-form-field class="example-full-width" class="control-item-50">
			<mat-label>Area</mat-label>
			<select required matNativeControl>
				<option *ngFor="let item of areas" [value]="item.id">{{
					item.areaName
				}}</option>
			</select>
		</mat-form-field>

		<div class="form-group">
			<button class="btn btn-success" [disabled]="form.invalid">Submit</button>
		</div>
	</form>
</div>
